asn1crypto==0.23.0
boto3==1.8.2
botocore==1.11.2
cffi==1.13.2
cryptography==2.8
Django==2.2.10
djangorestframework==3.11.0
docutils==0.16
idna==2.6
jmespath==0.9.4
pycparser==2.19
PyJWT==1.6.4
python-dateutil==2.6.1
pytz==2019.3
s3transfer==0.1.13
six==1.14.0
sqlparse==0.3.0
urllib3==1.23
